/*******************MAIN STYLES PAGE******************/

$sidebar-color: #222222;
$main-background: #303133;
$container1: #262729;
$container2: #2B2C2E;
$container3: #3C3C3C;
$container4: #1D1D1F;
$blueContainer: #363749;
$button1: #1E1F21;

$font: 'Lato', sans-serif;

$yellow-color: #ECB613;
$blue-color: #6795DE;
$orange-color: #CF4B32;
$clone-wars-color: rgb(217, 217, 217);
$grey-color: #C0C0C0;
$green-color: #5F8120;
// Thin 100 Italic
// Light 300
// Light 300 Italic
// Regular 400
// Regular 400 Italic
// Bold 700
// Bold 700 Italic
body {
  display: flex;
  position: relative;
  background-color: $main-background;
  flex-direction: row;
  display: flex;
}

main {
    width: calc(100vw - 55px);
    margin-left: 55px;
}

a {
  text-decoration: none;
}


/*********FONTSFONTSFONTSFONTSFONTS*********/

.font40-reg {
  color: #efefef;
  font-family: $font;
  font-size: 40px;
  line-height: 28px;
  font-weight: 400;
}

.font20-reg {
  color: #efefef;
  font-family: $font;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}

.font17-reg {
  color: white;
  font-family: $font;
  font-size: 17px;
  line-height: 21px;
  font-weight: 400;
}

.font16-bold {
  color: #efefef;
  font-family: $font;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}

.font16-reg-efefef {
  color: #efefef;
  font-family: $font;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.font16-reg {
  color: white;
  font-family: $font;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.font15-reg {
  font-size: 15px;
  line-height: 21px;
  font-family: $font;
  color: #efefef;
  font-weight: 400;
}

.font14-reg {
  color: white;
  font-family: $font;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.font14-reg-nw {
  font-family: $font;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.searchBar-font {
  color: #efefef;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  font-family: $font;
}

.font14-bold {
  color: white;
  font-family: $font;
  font-size: 14px;
  line-height: 28px;
  font-weight: 700;
  position: absolute;
}

.font14-reg-gray {
  color: #C9C9C9;
  font-family: $font;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.font14-reg-efefef {
  color: #efefef;
  font-family: $font;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}


.font14-lit-gray {
  color: #C9C9C9;
  font-family: $font;
  font-size: 14px;
  line-height: 22px;
  font-weight: 100;
}

.font14-lit-litegray {
  color: #E8E8E8;
  font-family: $font;
  font-size: 14px;
  line-height: 22px;
  font-weight: 100;
}

.font13-reg-gray {
  color: #cfcfcf;
  font-family: $font;
  font-size: 13px;
  line-height: 40px;
  font-weight: 400;
}

.font12-reg {
  font-family: $font;
  font-size: 12px;
  font-weight: 100;
}

.font12-reg-blue {
  color: #91b2e7;
  font-family: $font;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
}

.font12-reg-black {
  color: #131414;
  font-family: $font;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
}

.font10-reg-gray {
  color: #cfcfcf;
  font-family: $font;
  font-size: 10px;
  line-height: 21px;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: $sidebar-color;
  border-radius: 30%;
}

::-webkit-scrollbar-corner {
  display: none;
}
