<section class="profile-main">

  <div class="profile-banner">

  </div>

  <div class="profile-ads">

  </div>

  <div class="profile-big">
    <div class="profile-big-head">
      <div class="section-selector font13-reg-gray" ng-click="showStats()">Stats</div>
      <div class="section-selector font13-reg-gray" ng-click="showKata()">Kata</div>
      <div class="section-selector font13-reg-gray" ng-click="showSolutions()">Solutions</div>
      <div class="section-selector font13-reg-gray" ng-click="showTranslations()">Translations</div>
      <div class="section-selector font13-reg-gray" ng-click="showCollections()">Collections</div>
      <div class="section-selector font13-reg-gray" ng-click="showKumite()">Kumite</div>
      <div class="section-selector font13-reg-gray" ng-click="showSocial()">Social</div>
      <div class="section-selector font13-reg-gray" ng-click="showDiscourse()">Discourse</div>
    </div>
    <hr>
  </div>


</section>
