/************ KATA_LIST ***********/

/******** VARIABLES *********/
$sidebar-color: #222222;
$main-background: #303133;
$container1: #262729;
$container2: #2B2C2E;
$container3: #3C3C3C;
$container4: #1D1D1F;
$blueContainer: #363749;
$button1: #1E1F21;

$font: 'Lato', sans-serif;

$yellow-color: #ECB613;
$blue-color: #6795DE;
$orange-color: #CF4B32;
$clone-wars-color: rgb(217, 217, 217);
$grey-color: #C0C0C0;


/************ ACTUAL KATA LIST STYLES **********/
// I can't figure out why this isn't working. Only certain changes actually affect the div.
// .tiny-marker {
//   background-color: $container1;
//   position: absolute;
//   top: 0;
//   margin-top: 0;
//   margin-left: 70px;
//   height: 2vh;
//   width: 2vw;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

#arrow-icon-kata-list {
  height: 50px;
  width: 50px;
}
