<section ng-init="init()" class="kata-list">

  <div class="tiny-marker">
    <p class="font14-reg-gray">Kata</p>
  </div>

  <div class="kata-list-main">

    <div class="kata-list-top">
      <div class="section-selector-kata font13-reg-gray" ng-click="showLibrary()"><img id="arrow-icon-kata-list" src="./assets/imgs/arrow_icon.png"/>Library</div>
      <div class="section-selector-kata font13-reg-gray" ng-click="showCollections()"><img id="arrow-icon-kata-list" src="./assets/imgs/collections_icon.png"/>Collections</div>
    </div>

      <library  ></library>

    </div>



</section>
