<div class="kata-list-body">
  <div class="kata-list-left">

    <div class="kata-search">
      <input id='kata-search' ng-model="searchText" placeholder="Search">
    </div>
  </div>

  <div class="kata-list-right">

    <div class="individual-kata">

      <div class="indv-kata-left">
        <div class="indv-kata-top">
          <img id="difficulty-icon" src="./assets/imgs/6_kyu_icon.png" alt="6kyu">
          <h3 class="font17-reg" id="kata-name">Kata Name</h3>
        </div>
        <div class="kata-stats">
          <i class="fa fa-star-o kata-stats-info" aria-hidden="true"></i>
          <p class="kata-stats-info">2</p>
          <i class="" aria-hidden="true"></i>
        </div>
        <div class="indv-kata-tags">
          <p class="kata-stats-info">Here's where tags go</p>
        </div>
      </div>

      <div class="individual-kata-languages">
        <img id="difficulty-icon" src="./assets/imgs/6_kyu_icon.png" alt="">
      </div>

    </div>
  </div>
</div>
