<div class="kata-list-body">
  <div class="kata-list-left">

    <!-- ********* SEARCH/SORT STUFF ******** -->
    <div class="kata-search kata-left-div">
      <input class="form-control .searchBar-font" id='kata-search' ng-model="searchText" placeholder="Search">
    </div>

    <div class="kata-sort kata-left-div">
      <div class="kata-sort-div">
        <p class="font15-reg">Sort by: </p>
        <select class="kata-sort-dropdown sort-box" ng-init="selectedSort = sortOptions[0]" ng-model="selectedSort" ng-options="x for x in sortOptions"></select>
      </div>
      <div class="kata-sort-div">
        <p class="font15-reg">Language: </p>
        <select class="kata-sort-dropdown" ng-init="selectedLanguage = languageOptions[0]" ng-model="selectedLanguage" ng-options="x for x in languageOptions"  ng-change="languageSort(selectedLanguage)"></select>
      </div>
      <div class="kata-sort-div">
        <p class="font15-reg">Status: </p>
        <select class="kata-sort-dropdown" ng-init="selectedStatus = statusOptions[0]" ng-model="selectedStatus" ng-options="x for x in statusOptions"></select>
      </div>
      <div class="kata-sort-div">
        <p class="font15-reg">Progress: </p>
        <select class="kata-sort-dropdown" ng-init="selectedProgress = progressOptions[0]" ng-model="selectedProgress" ng-options="x for x in progressOptions"></select>
      </div>
    </div>

    <div class="kata-left-div" id="kata-sort-difficulty">
      <p class="font15-reg" ng-click="getRandomKataList()" id="difficulty-header-text">Difficulty:</p>
      <div class="assorted-difficulty-icons">
        <img class="difficulty-icon" class="difficulty-top" ng-src={{icon}} alt="{{$index}}kyu" ng-click="getKatasByKyu($index+1)" ng-mouseover="icon=colorIcons[$index]" ng-mouseout="icon = iconFlags[$index] ? colorIcons[$index] : kyuIcons[$index]" ng-repeat="icon in iconDisplay track by $index"/>

      </div>
    </div> <!--end of kata-sort-difficulty-->

    <div class="kata-sort-tags">
      <p class="font15-reg tags-header">Tags:</p>
      <p class="font14-reg-gray tag" ng-repeat="tag in tags track by $index" ng-click="tagClick(tag)">{{tag}}</p>
    </div>

  </div> <!-- END OF LEFT SIDE -->


  <!-- ************ SO BEGINS THE RIGHT SIDE ********* -->
  <div class="kata-list-right">

    <p class="font14-reg-gray">{{totalKata}} Kata Found</p>

    <div class="individual-kata" ng-repeat="kata in displayKataList | filter: searchText">

        <div class="indv-kata-left">
          <div class="indv-kata-top">
            <img class="difficulty-icon" ng-src="./assets/imgs/{{kata.kyu}}_kyu_icon.png" alt="{{kata.kyu}}kyu">
            <h3 class="font17-reg">
              <a class="font17-reg" id="kata-name" href="/#/training/{{kata.id}}">{{kata.name}}</a>
            </h3>
          </div>
          <div class="kata-stats">
            <img class="kata-stats-icon .font14-reg-gray" src="./assets/imgs/satisfaction_icon.png" />
            <p class="kata-stats-info">{{kata.satisfaction}} satisfied of {{kata.votes}} votes</p>
            <!-- For later, when we decide we want to include these stats in our kata -->
            <!-- <img class="kata-stats-icon .font14-reg-gray" src="./assets/imgs/completion_icon.png"/>
            <!--<p class="kata-stats-info">completion</p>-->
            <img class="kata-stats-icon .font14-reg-gray" src="./assets/imgs/creator_icon.png"/>
            <p class="kata-stats-info">{{kata.creator}}</p>
          </div>
          <div class="indv-kata-tags">
            <img src="./assets/imgs/tag_icon.png" id="tag-icon" alt="tagggg">
            <div class="tag-tag-div" ng-repeat="tag in kata.tags">
              <p class="font10-reg-gray" id="tag-tag">{{tag}}</p>
            </div>
          </div>
        </div>

        <div class="individual-kata-languages">
          <img id="language-icon" src="./assets/imgs/js_icon_blue.png" alt="">
        </div>

      <!-- Created this div with the hope of creating the perfect linear gradient, fading border as on the codewars site.  -->
      <!-- <hr class="kata-bottom-border-hr" /> -->

    </div> <!--end individual-kata div -->
  </div> <!--end kata-list-right -->
</div>
