<section class="solutions" ng-init="init()">
  <div class="solutions-upper-div any-solutions-div">
    <div class="solutions-upper-left">
      <img id="solutions-profile-pic" src="{{user.picture_url}}" alt="Here's where your face should be">
    </div>
    <div class="solutions-upper-main">
      <div class="solutions-upper-upper">
        <img id="solutions-rank-icon" src="./assets/imgs/6_kyu_icon.png" alt="Rank: 6_kyu">
        <h2 class="font20-reg">{{user.name}}</h2>
        <p class="font14-lit-gray">Honor</p>
      </div>
      <div class="solutions-upper-mid">
        <p class="font14-reg-efefef">Tons of info goes here</p>
      </div>
      <div class="solutions-upper-bottom">
        <button>View Profile Badges</button>
      </div>
    </div>
  </div> <!--END SOLUTIONS UPPER DIV-->

  <div class="solutions-main any-solutions-div">
    <div class="solutions-main-head">
      <img src="./assets/imgs/{{kataById.kyu}}_kyu_icon.png" alt="{{kataById.kyu}}_kyu">
      <p class="font17-reg">{{kataById.name}}</p>
    </div>
    <div class="your-solutions" ng-repeat="solution in kataSolutions">
      <p class="font15-reg">JavaScript</p>
      <textarea class="solution-code-box"/>
    </div>
  </div> <!--END SOLUTIONS MAIN-->


</section>
