/**************SIDE MENU**************/

$sidebar-color: #222222;
$main-background: #303133;
$container1: #262729;
$container2: #2B2C2E;
$container3: #3C3C3C;
$container4: #1D1D1F;
$blueContainer: #363749;
$button1: #1E1F21;
$font: 'Lato',
sans-serif;
$yellow-color: #ECB613;
$blue-color: #6795DE;
$orange-color: #CF4B32;
$clone-wars-color: rgb(217, 217, 217);
$grey-color: #C0C0C0;

.view {
  flex-direction: row;
}

.ul {
  display: flex;
  height: 35px;
  cursor: pointer;
}

.li {
  flex-direction: row;
}

.side-menu {
  background-color: $sidebar-color;
  height: 100vh;
  width: 55px;
  padding: 5px 0 0 0;
  float: left;
  position: fixed;
  left: 0;
  top: 0;
  transition: width 0.5s;
  z-index: 99;
  overflow: hidden;
}

.icon-div {
  width: 55px;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  
}

.main-icon {
  width: 35px;
  height: 35px;
  left: 50px;
  cursor: pointer;
}

.side-menu-icon {
  //   width: 20px;
  height: 22px;
}

.menu-items {
  position: absolute;
  left: 55px;
  margin: 7px 0 0 0;
  cursor: pointer;
}



/**************TOP MENU**************/

.top-menu {
  background-color: $sidebar-color;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 288.25px;
  height: 50px;
  z-index: 99;
}

.ul-top {
  display: flex;
  flex-direction: row;
}

.li65 {
  width: 65px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.li65-img {
  margin: auto;
  vertical-align: center;
  height: 25px;
  align-self: center;
}

.li170 {
  width: 170px;
  padding-right: 20px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}

.li170-img {
  vertical-align: center;
  height: 40px;
  border-radius: 10px;
  margin: 5px 5px;
  align-self: center;
}
