<animate-dir settings='settings'></animate-dir>
<div class='view'>
<div class='menu'>
  <div class="side-menu font14-reg menu-items">
    <ul class='center'>
      <li><img src='./assets/imgs/ST-R.png' class='side-menu-icon'></li>
      <li><img src='./assets/imgs/arrow_icon.png' class='side-menu-icon'></li>
      <li><img src='./assets/imgs/kumite_icon.png' class='side-menu-icon'></li>
      <li><img src='./assets/imgs/blurb_icon.png' class='side-menu-icon'></li>
      <li><img src='./assets/imgs/ST-R.png' class='side-menu-icon'></li>
    </ul>
  </div>
  <div class='side-menu-container font14-reg'>
    <ul>
      <li>Home</li>
      <li>Kata</li>
      <li>Kumite</li>
      <li>Forum</li>
      <li>Docs</li>
    </ul>
  </div>
  <div class="top-menu">
  </div>
  <main>
    <ui-view class='main-div'></ui-view>
  </main>
  </div>
