<animate-dir settings='settings'></animate-dir>
<div class='view'>
	<div class='menu'>
		<div class="side-menu font16-reg">
			<ul>
				<li class='ul' ui-sref='menu.home'>
					<div class='icon-div'>
						<img src='./assets/imgs/ST-R.png' class='main-icon li'>
					</div>
					<span class='menu-items li'>Home</span>
				</li>
				<br>
				<li class="ul" ui-sref='menu.kata_list'>
					<div class='icon-div'>
						<img src='./assets/imgs/arrow_icon.png' class='side-menu-icon li' id='icon1'>
					</div>
					<span class='menu-items'>Kata</span>
				</li>
				<br>
				<li class="ul">
					<div class='icon-div'>
						<img src='./assets/imgs/kumite_icon.png' class='side-menu-icon li' id='icon2'>
					</div>
					<span class='menu-items'>Kumite</span></li>
				<br>
				<li class="ul">
					<div class='icon-div'>
						<img src='./assets/imgs/blurb_icon.png' class='side-menu-icon li' id='icon3'>
					</div>
					<span class='menu-items'>Forum</span></li>
				<br>
				<li class="ul" ui-sref='menu.docs'>
					<div class='icon-div'>
						<img src='./assets/imgs/asset_23.png' class='side-menu-icon li' id='icon4'>
					</div>
					<span class='menu-items'>Docs</span></li>
				<br>
			</ul>
		</div>
    <!--~~~~~~~~~~~~ TOP MENU ~~~~~~~~~~~~~~~~~-->
    <div class="top-menu">
      <div class='ul-top'>
        <div class='li65'><img src='./assets/imgs/asset_30.png' class='li65-img'></div>
        <div class='li65'><img src='./assets/imgs/asset_31.png' class='li65-img'></div>
        <div class='li170'>
          <img src='{{user.picture_url}}' class='li170-img'>
          <div><img class="difficulty-icon" src="./assets/imgs/{{user.kyu_level}}_kyu_icon.png"></div>
          <div class="font12-lit-white">{{user.points}}</div>
        </div>
      </div>
    </div>
  </div>
  <main>
    <ui-view class='main-div'></ui-view>
  </main>
</div>
