<div class='instructions-text'>
  <div>
    <p class="font14-lit-litegray pre-line">{{instructions}}
      Bacon ipsum dolor amet beef ribs pastrami spare ribs shankle strip steak pork chop. Picanha ground round turducken, cow tri-tip ribeye doner biltong boudin. Frankfurter ribeye pork belly shoulder, pastrami jowl sausage jerky boudin cow short ribs landjaeger corned beef shank. Pig biltong ground round, burgdoggen andouille capicola prosciutto chicken ball tip ham. Leberkas ham jerky, ham hock shankle hamburger pork chop turkey burgdoggen salami. Tongue pig picanha bresaola porchetta sausage pork chop spare ribs landjaeger pork belly meatball filet mignon beef.
    </p>
  </div>
</div>
