/************TRAINING PAGE STYLES*********/
$sidebar-color: #222222;
$main-background: #303133;
$container1: #262729;
$container2: #2B2C2E;
$container3: #3C3C3C;
$container4: #1D1D1F;
$blueContainer: #363749;
$button1: #1E1F21;

$font: 'Lato', sans-serif;

$yellow-color: #ECB613;
$blue-color: #6795DE;
$orange-color: #CF4B32;
$clone-wars-color: rgb(217, 217, 217);
$grey-color: #C0C0C0;
$green-color: #5F8120;
$grey-color2: #3B3C3E;
$pass: #7C9A44;
$fail: #C05C40;
$output: #151718;
$white: white;

// STUFF ALONG THE TOP
.training-top {
  height: 60px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;;
  align-items: center;
  padding: 15px;
}

.kata-name-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  width: 40vw;
}

.kata-name-container-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.assorted-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.view-options {
  height: 50px;
  width: 100px;
  background-color: #3A3B3D;
  margin-right: 5px;
}

#difficulty-icon {
  height: 30px;
  width: 50px;
  margin-right: 5px;

}

.select-dropdown {
  height: 52px;
  width: 175px;
  background-color: $button1;
  flex-direction: row;
  margin: 7.5px;
}

.selection-div {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 60vw;
}


/***********MAIN TRAINING AREA***********/
.kata {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.kata-right {
  display: flex;
  flex-direction: column;
  padding-top: 2vh;
  height: 105vh;
  width: 60vw;
  background-color: $container1;
  margin: 15px 15px 15px 0;
  padding: 10px;
}

.instructions {
  // height: calc(100vh - 150px);
  width: 40vw;
  overflow: scroll;
  margin: 15px;
  background-color: $container1;
  // padding: 10px;
  height: 105vh;
}

.instructions-head {
  width: 35vw;
  height: 40px;
  display: flex;
  flex-direction: row;
}

.instructions-selector {
  width: 120px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  background-color: $grey-color2;
}

.output-selector {
  width: 90px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  line-height: 40px;
}

.button-text {
margin:auto;
}

hr {
  background-image: -webkit-linear-gradient(left, transparent, rgba(255,255,255,0.1) 20%, rgba(255,255,255,0.1) 80%, transparent);
  background-image: -moz-linear-gradient(left, transparent, rgba(255,255,255,0.1) 20%, rgba(255,255,255,0.1) 80%, transparent);
  background-image: -ms-linear-gradient(left, transparent, rgba(255,255,255,0.1) 20%, rgba(255,255,255,0.1) 80%, transparent);
  background-image: -o-linear-gradient(left, transparent, rgba(255,255,255,0.1) 20%, rgba(255,255,255,0.1) 80%, transparent);
  background-image: -linear-gradient(left, transparent, rgba(255,255,255,0.1) 20%, rgba(255,255,255,0.1) 80%, transparent);
}

.test-examples-button {
  border: 1px solid #91b2e7;
  border-radius: 4%;
  width: 113px;
  height: 30px;
  background-color: #3C3C3C;
  margin:15px;
}

.test-suite-button {
  border: 1px solid #91b2e7;
  border-radius: 4%;
  width: 113px;
  height: 30px;
  background-color: #91b2e7;
  margin:15px;
}

.submit-button {
  border: 1px solid $green-color;
  border-radius: 4%;
  width: 113px;
  height: 30px;
  background-color: $green-color;
  margin:15px;
}

.button-div {
  display:flex;
  justify-content: right;
}

.example-tests-div {
  height: 15vh;
}

.pre-line {
  white-space: pre-line;
}

.output {
  background-color: $output;
  width: 100%;
  height: 93%;
  margin: 0 0 0 10px;
  overflow: auto;
}
.pass {
  color: $pass;
}

.fail {
  color: $fail;
}

.white {
  color: $white;
}

.val {
  padding: 5px 0 0 5px;
}
.val1 {
  padding: 0 0 0 15px;
}

.val2 {
  padding: 0 0 0 30px;
}