<section class="training-main">
  <div class="training-body">
    <div class="training-top" ng-style='allGone'>
      <div class="kata-name-container">
        <div class="kata-name-container-top">
          <img src="./assets/imgs/{{kyu}}_kyu_icon.png" alt="Difficulty" class="difficulty-icon">
          <div class="font16-reg" id="kata-name">
            {{name}}
          </div>
        </div>
        <div class="kata-stats">
        </div>
      </div>
      <!--End kata-name-container div-->
      <div class="selection-div">
        <div class='select-dropdown'>
          <div class='font14-lit-gray select-dropdown-text' ng-repeat="language in languages">
            {{language}}
          </div>
        </div>
        <div class='select-dropdown'>
          <div class='font14-lit-gray select-dropdown-text'>
            {{versions}}
          </div>
        </div>
        <div class="assorted-options">
        </div>
      </div>
    </div>
    <div class="kata">
      <div class="instructions" ng-style="instructionStyle">
        <div class="instructions-head">
          <div class='instructions-selector font14-lit-gray selector-bg-on' ng-style="instructionbg" ng-click="showInstructions(); outputbg={'background-color':'#262729'}; instructionbg={'background-color':'#3B3C3E'}">
            <div class='button-text'>Instructions</div>
          </div>
          <div class='output-selector font14-lit-gray' ng-style="outputbg" ng-click="showOutput(); outputbg={'background-color':'#3B3C3E'}; instructionbg={'background-color':'#262729'}">
            <div class='button-text'>Output</div>
          </div>
        </div>
        <show-output ng-hide="showOutputShow"></show-output>
        <show-instructions ng-hide="showInstructionsShow"></show-instructions>
      </div>
      <div class="kata-right" ng-style='kataStyle'>
        <!--*****************SOLUTIONS DIV*********************-->
        <div class="solution-div font14-lit-gray">
          <div class="solutions-header">
            <p>Solution:</p>
            <!--<button value='small' ng-click="kataStyle={'width':'40vw'}; instructionStyle={'width':'60vw'}; allGone={'height':'100px'}">small</button>
            <button value='medium' ng-click="kataStyle={'width':'60vw'}; instructionStyle={'width':'40vw'}; allGone={'height':'100px'}">medium</button>
            <button value='large' ng-click="kataStyle={'width':'100vw','margin':'15px'}; instructionStyle={'display':'none'}; allGone={'height':'100px'}">large</button>
            <button value='full-screen' ng-click="kataStyle={'width':'100vw','margin':'15px'}; instructionStyle={'display':'none'}; allGone={'display':'none'}; exampleGone={'display':'none'}">full screen</button>-->
          </div>
          <div class='CodeMirror'><textarea ng-style="exampleGone" name="solution" id="solution-input" ng-model="solutionInput" ></textarea></div>
        </div>
        <!--*****************EXAMPLES DIV*********************-->
        <div class="example-tests-div font14-lit-gray">
          <div class='example-header'>
            <p>Example Tests:</p>
          </div>
          <div class='CodeMirror'><textarea name="examples" id="example-input" id="example-tests-input" ng-model="examplesInput" ></textarea></div>

          <!--*******************BUTTONS***********************-->
          <div class='button-div'>
            <button ui-sref='menu.home' class="reset-button font12-reg-blue"><i class="fa fa-forward" style="margin-right: 2px" aria-hidden="true"></i>SKIP</button>
            <button ng-click="reset()" class="reset-button font12-reg-blue">RESET</button>
            <button ng-click="testExamples(); outputbg={'background-color':'#3B3C3E'}; instructionbg={'background-color':'#262729'}" class="test-examples-button font12-reg-blue">RUN EXAMPLES</button>
            <button ng-click="testSuite()" class="test-suite-button font12-reg-black"><i class="fa fa-caret-right fa-lg" style="margin-right: 2px" aria-hidden="true"></i>ATTEMPT</button>
            <button ng-click="submitAnswer()" class="submit-button font12-reg-black" ng-class="submit != true ? 'hide' : 'show'"><i class="fa fa-caret-right fa-lg" style="margin-right: 2px" aria-hidden="true"></i>SUBMIT</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>