/************TRAINING PAGE STYLES*********/

// STUFF ALONG THE TOP
.training-top {
  background-color: green;
  height: 100px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;;
  align-items: center;
}

.kata-name-container {
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.kata-name-container-top {
  background-color: blue;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.assorted-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.view-options {
  height: 50px;
  width: 100px;
  background-color: #3A3B3D;
  margin-right: 5px;
}

#difficulty-icon {
  height: 30px;
  width: 50px;
  margin-right: 5px;
}


/***********MAIN TRAINING AREA***********/
.kata {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.kata-right {
  display: flex;
  flex-direction: column;
  padding-top: 2vh;
  height: calc(100vh - 150px);
  width: 50vw;
  background-color: blue;
}

.instructions {
  // height: calc(100vh - 150px);
  width: 40vw;
  overflow: scroll;
}

.instructions-head {
  width: 40vw;
  height: 5vh;
}

.instructions-selector {
  width: 120px;
  height: 40px;
}

hr {
  background-image: -webkit-linear-gradient(left, transparent, rgba(255,255,255,0.1) 20%, rgba(255,255,255,0.1) 80%, transparent);
  background-image: -moz-linear-gradient(left, transparent, rgba(255,255,255,0.1) 20%, rgba(255,255,255,0.1) 80%, transparent);
  background-image: -ms-linear-gradient(left, transparent, rgba(255,255,255,0.1) 20%, rgba(255,255,255,0.1) 80%, transparent);
  background-image: -o-linear-gradient(left, transparent, rgba(255,255,255,0.1) 20%, rgba(255,255,255,0.1) 80%, transparent);
  background-image: -linear-gradient(left, transparent, rgba(255,255,255,0.1) 20%, rgba(255,255,255,0.1) 80%, transparent);
}

#solution-input {
  height: 40vh;
  width: 40vw;
  background-color: #000000;
  color: white;
}

#example-tests-input {
  height: 25vh;
  width: 40vw;
  background-color: #000000;
  color: white;
}

.test-examples-button {
  border: 1px solid #91b2e7;
  border-radius: 4%;
  width: 113px;
  height: 30px;
  background-color: #3C3C3C;
}

.test-suite-button {
  border: 1px solid #91b2e7;
  border-radius: 4%;
  width: 113px;
  height: 30px;
  background-color: #91b2e7;
}

.training-body {
  background-color: red;
}
