<div class='login-main'>
  <div class='middle'>
    <div>
      <img src='./assets/imgs/ST-R.png' class='logo logo-padding'>
      <p class='font40-reg logo-font logo'>clonewars</p><br><br>
    </div>
    <div>
      <a href='/auth/github'>
        <div class='button font12-reg'>
          <div>
            <!--<img src='./assets/imgs/ST.png' class='button-icon'>-->
            <span>GITHUB LOG IN</span>
          </div>
        </div>
      </a>
      <div class="font14-lit-gray center">
        <br>
        <p><a href='/auth/github' class='center'>-sign up-</a></p>
      </div>
    </div>
  </div>
  <!--<div>
      <ul>
        <li>Alexis Graff</li>
        <li>Josh Baert</li>
        <li>Sterling Chin</li>
        <li>Steve Nagie</li>
      </ul>
    </div>-->
</div>
